/* ==================================
   Responsive Styling and Layout
   ==================================  */


/* ================= Use Border Box model ================= */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/* ================= Basic Responsive Images and Video ================= */

img,
video {
    width: auto;
    height: auto;
    max-width: 100%;
}


/* ================= Responsive Embedded Video ================= */


/* to use this add a div with class videoWrapper around the iframe markup copied from YouTube or Vimeo. Then also add a ratio-16-9 (most common) or ratio-4-3 class to the wrapper depending on the aspect ratio of your video */

.videoWrapper {
    position: relative;
    padding-top: 25px;
    height: 0;
    clear: both;
    outline: 1px solid red;
}

.videoWrapper.ratio-16-9 {
    padding-bottom: 56.25%;
    /* 16:9 */
}

.videoWrapper.ratio-4-3 {
    padding-bottom: 75%;
    /* 4:3 */
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* ================= LAYOUT and MEDIA QUERIES ================= */

/* ================= Base Layout (mobile) ================= */
body {
    padding: 0 .5rem;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

footer {
    margin-top: 2rem;
    border-top: 1px solid #555;
    padding: 1rem 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

.title,
.attractor {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    margin-top: 2rem;
}

.tagline{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    margin-top: 2rem;
}
/*
.title{
    padding: 0
}
*/

.list-grid {
    display: grid;
    grid-template-columns: 1fr;
}

.resources {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr;
    grid-template-areas: "resources""videos""downloads""podcasts";
}

.resources h3 {
    grid-area: resources;
}

.videos {
    grid-area: videos;
}

.downloads {
    grid-area: downloads;
}

.podcasts {
    grid-area: podcasts;
}




@media (min-width: 800px) {
    body {
        padding: 2rem;
    }

    main {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 2.5rem;
        grid-row-gap: 4rem;
        grid-template-rows: 100vh;
    }

    /*		center vertically*/
    .title,
    .attractor,.tagline {
        flex-direction: column;
    align-items:center;
    justify-content: center;

    }

    .page-title {
        font-size: 3.7rem;
        margin: 0;
    }

    .attractor {
        font-size: 3.5rem;
        line-height: 1;
        padding-right: 1rem;
        margin-bottom: 0;
        text-align: center;
    }

    main h3 {
        margin-top: 0;
    }

    .what {
        font-size: 1.5rem;
        grid-column: 1/-1;
        width: 45rem;
        max-width: 85%;
        margin: 0 auto;
    }

    .why,
    .how,
    .when,
    .tips {
        grid-column: 1/-1;
        display: grid;
        grid-template-columns: repeat(auto-fill, 30rem);
        grid-template-columns: 1fr 1fr;
    }

    .retrieval .why,
    .retrieval .how {
        grid-column: 1/-1;
    }

    .resources {
        grid-column: 1/-1;
    }

    .list-grid {
        grid-template-columns: 1fr 1fr;
        grid-gap: 3rem;
    }

    .resources {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "resources resources""videos videos""downloads podcasts"
    }

    .retrieval .tips h3 {
        grid-row: span 4;
    }

    footer {
        grid-template-columns: 1fr 1fr
    }

    footer .designed {
        text-align: right;
    }

    .designedby .credits{
        grid-column: 1/-1; /*span across parent grid */
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem;
    }
    .designedby .credits .images{
        grid-column: 2/3;
    }
}

@media (min-width: 1200px) {
    main {
        grid-template-rows: 50vh;
    }

    .list-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 3rem;
    }

    .retrieval .why,
    .retrieval .how {
        grid-column: 1/-1;
        grid-template-columns: 1fr;
    }
}
