/* =========== COLORS =============== */
/*https://color.adobe.com/trends/Graphic-design*/
/*
dark blue #020873
yellow #F2A922
orange #F29727
dark orange #BF5B04
dark red #731702
*/

body{
    background-color: #F2A922;
}
.resource-type{
    color:#999;
}

.tips{
    background-color: #731702;
    color: #fff;
    padding: 2rem;
}
